#menu-container {

  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#docs-container {

  position: absolute;
  left: 200px;
  top: 0px;
  height: 100%;
  overflow: scroll;
}